<!--<ion-view view-title="" hide-nav-bar="true" hide-back-button="true" hide-tabs>
  <ion-content class="login" scroll="false">
    <button class="button button-icon icon ion-arrow-left-c pull-left z-inedex-99 no-box-shadow-button text-dark-gray position-absolute"
            go-click="/login">
    </button>

    <div class="password-icon">
      <i class="icon ion-lock-combination font-size-300"></i>
    </div>

    <div class="login-inner">
      <form class="form-inner">
        <b class="input-label-b-login-name">Sayın {{userInfos.Name}} {{userInfos.Surname}}</b>
        <br/>
        <b class="input-label-b-login">Şifre</b>
        <label class="item item-input ellipse-input">
          <input type="password" placeholder="" ng-model="password" name="password">
        </label>
        <br/>
        <button class="button button-login ion-log-in" ng-click="isLoggedIn(password)">
          GİRİŞ
        </button>
        <br/>
        <b class="input-label-b-login-info">Şifreniz {{userInfos.GsmNo}} numaralı telefonunuza sms ile gönderildi.</b>
      </form>

      <div class="info-login">
        Giriş yapamıyorsanız lütfen <a href="" class="text-green">yöneticinizi</a> arayınız.
      </div>

      <div class="version-login">
        v1.0.0
      </div>
    </div>
  </ion-content>
</ion-view>-->

<ion-view id="login-2" no-scroll="true" hide-nav-bar="true" hide-back-button="true" hide-tabs>
  <img src="images/bg.jpg" class="login-image">
  <button class="button button-icon icon ion-ios-arrow-thin-left pull-left z-inedex-99 no-box-shadow-button position-absolute text-white"
          go-click="/login">
  </button>
  <ion-content>
    <p id="login-header"><i class="icon ion-lock-combination font-size-50"></i></p>
    <p class="pin-title">Sayın <strong>{{userInfos.Name}} {{userInfos.Surname}}</strong>,</p>
    <p class="pin-title">Lütfen şifrenizi giriniz :</p>
    <div id="pin">
      <div><i class="icon ion-record" ng-show="pinDotVisible[&apos;1&apos;]"></i></div>
      <div><i class="icon ion-record" ng-show="pinDotVisible[&apos;2&apos;]"></i></div>
      <div><i class="icon ion-record" ng-show="pinDotVisible[&apos;3&apos;]"></i></div>
      <div><i class="icon ion-record" ng-show="pinDotVisible[&apos;4&apos;]"></i></div>
      <i class="icon ion-backspace" ng-show="canErase" ng-click="doErase()"></i>
    </div>
    <div id="status" style="margin-top: 15px; font-size: 18px;">
      <!--<p style="color: #2ecc71;" ng-show="success === true">Başarılı !</p>
      <p style="color: #e74c3c;" ng-show="success === false">Hatalı !</p>-->
    </div>
  </ion-content>
  <ion-digit-keyboard settings="keyboardSettings" ng-show="keyboardVisible"></ion-digit-keyboard>
</ion-view>

